%h1 #{link_to @vendor.name, [:admin, @vendor]}: Purchases

%table.table
  %tr

    %th Phone
    %th User total
    %th Value
    %th Awarded Points
    %th Access token
    %th Played?
    %th

  - @purchases.each do |purchase|
    %tr
      %td= purchase.phone
      %td= purchase.points
      %td= purchase.value
      %td= purchase.awarded_value
      %td= text_field_tag :play_url, play_url(t: purchase.access_token)
      %td= purchase.played? ? content_tag(:i, "", class: "icon-ok").html_safe : content_tag(:i, "", class: "icon-remove").html_safe
      %td
        =# link_to "edit", edit_admin_vendor_purchase_path(@vendor, purchase)
        = simple_form_for [:admin, @vendor, purchase] do |f|
          = f.text_area :send_sms, value: play_game_message(purchase),  class: "text_area_short"
          = f.submit 'Send SMS', class: 'btn btn-primary'

%br

= link_to 'New Purchase', new_admin_vendor_purchase_path(@vendor)
