%h1 Listing Purchases

%table.table
  %tr

    %th Phone
    %th User total
    %th Value
    %th Awarded Points
    %th

  - @purchases.each do |purchase|
    %tr
      %td= purchase.phone
      %td= purchase.points
      %td= purchase.value
      %td= purchase.awarded_value
      %td
        = link_to "edit", edit_admin_vendor_purchase_path(@vendor, purchase)

%br

= link_to 'New Purchase', new_admin_vendor_purchase_path(@vendor)
