= simple_form_for(@offer, url: [:admin, @vendor, @offer]) do |f|
  = f.error_notification

  .form-inputs
    = f.input :image
    = f.input :name
    = f.input :description
    = f.input :link
    = f.input :value

  .form-actions
    = f.button :submit
