%p#notice= notice

%p
  %b Image:
  = image_tag @offer.image, width: "100px"
%p
  %b Name:
  = @offer.name
%p
  %b Description:
  = @offer.description
%p
  %b Link:
  = @offer.link

= link_to 'Edit', edit_vendor_offer_path(@vendor, @offer)
\|
= link_to 'Back', [@vendor, Offer]
