%h1 #{link_to("Vendors", [:admin, Vendor])}: #{@vendor.name}

%p#notice= notice

= image_tag @vendor.logo

= @vendor.description


%ul.nav.nav-pills
  %li= link_to "Offers", [:admin, @vendor, Offer]
  %li= link_to "User", [:admin, @vendor, User]
  %li= link_to "Purchase", [:admin, @vendor, Purchase]
  %li= link_to 'Edit', edit_admin_vendor_path(@vendor)
